@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
body {
    display: flex;
    flex-direction: column;
    font-family: Roboto, sans-serif;
    margin: 0;
}

.hero, .footer {
    background-color: #1F2937;
    
}

.hero {
    display: flex;
    flex-direction: column;
    padding: 10px 100px 100px;
    gap: 80px;
}

.top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 200px;
}

.logo {
    width: 100px;
    height: 100px;
    border-radius: 10px;
    box-sizing: border-box;
    background-position: center;
    background-size: cover;
    background-image: url(images/logo.png);
}

ul {
    list-style: none;
    padding-left: 0;
    margin: 0;
    display: flex;
    gap: 20px;
}

a {
    text-decoration: none;
    color: #E5E7EB;
}

.title {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

.welcome-subtitle {
    font-size: 18px;
    color: #E5E7EB;
}

.img1 {
    width: 500px;
    height: auto;
    background-color: #777;
    color: #F9FAF8;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.information {
    text-align: center;
    padding: 50px;
}

.main-info {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.cat {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 150px;
    box-sizing: border-box;
}

.cat-text {
    color: #999;
    font-weight: 300;
}

.information-title {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
}

.square {
    width: 150px;
    height: 150px;
    border: 3px solid #3882F6;
    border-radius: 10px;
    box-sizing: border-box;
    background-position: center;
    background-size: cover;
}

.cat1 {
    background-image: url(images/foto4.jpg);
}

.cat2 {
    background-image: url(images/foto5.jpg);
}

.cat3 {
    background-image: url(images/foto6.jpg);
}

.cat4 {
    background-image: url(images/foto7.jpg);
}

.quote {
    height: 300px;
    box-sizing: border-box;
    background-color: #E5E7EB;
    padding: 50px 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.quote-text {
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
}

.quote-creator {
    font-size: 24px;
    font-weight: bold;
    align-self: flex-end;
}

.join {
    color: #F9FAF8;
    height: 350px;
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.join-square {
    background-color: #3882F6;
    border-radius: 10px;
    padding: 10px;
    width: 900px;
    height: 150px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.join-title {
    font-size: 24px;
    font-weight: bold;
}

button {
    background-color: #3882F6;
    color: #F9FAF8;
    border-radius: 5px;
    padding: 10px 30px;
}

.sign-up {
    border: none;
}

.join-button {
    border: 1px solid white;
}

.footer {
    color: #FFF;
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
}